fastapi
uvicorn[standard]
python-multipart
google-generativeai
PyMuPDF
pdfkit
python-dotenv
pydantic-settings
pydantic>=2.0.0
python-docx
docx2pdf
anthropic
cryptography
cloudinary
requests
playwright
google-genai
numpy
Pillow