fastapi
uvicorn[standard]
python-multipart
google-generativeai
PyMuPDF
pdfkit
python-dotenv
pydantic-settings
pydantic>=2.0.0
python-docx
cryptography
cloudinary
requests
playwright
google-genai
numpy
scipy
Pillow
